@using Autoprevoznicko_preduzece_HTS.Model;
@using WebAutoprevozncniko.ViewModels;
@using WebAutoprevozncniko.Helper
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.DependencyInjection;
@{
    ViewData["Title"] = "PregledObavijesti";
    List<PrikaziObavijestiVM> obavijesti = (List<PrikaziObavijestiVM>)ViewData["obavijesti"];
    Login login = Context.GetLogiraniKorisnik();
    MyContext _context = Context.RequestServices.GetService<MyContext>();
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center" style="padding-top:40px">
            <h2>Lista objava </h2>
            @*<ol>
                    <li><a href="/Obavijesti">Vrati nazad</a></li>
                    <li>Lista objava</li>
                </ol>*@
        </div>
    </div>
</section>
@if (login == null)
{
    <form class="table">
        <table>
            <tr>
                <td>Naslov</td>
                <td>Sadrzaj</td>
                <td>Datum objave</td>
                <td>Objavu napisao</td>
                @*<td>Obrisi obavijest</td>
                    <td>Uredi obavijest</td>*@
            </tr>
            @foreach (PrikaziObavijestiVM po in obavijesti)
            {

                <tr>
                    <td>@po.naslov</td>
                    <td>@po.sadrzaj</td>
                    <td>@po.datumObjave</td>
                    <td>@po.uprava</td>
                    @*<td>
                            <a class="btn btn-danger" href="/Obavijesti/ObrisiObavijest?ID=@po.ID">Obrisi</a>
                        </td>
                        <td>
                            <a class="btn btn-warning" href="/Obavijesti/UrediObavijest?ID=@po.ID">Uredi</a>
                        </td>*@
                </tr>


                <tr>
                    <td>@po.naslov</td>
                    <td>@po.sadrzaj</td>
                    <td>@po.datumObjave</td>
                    <td>@po.uprava</td>
                    @*<td>
                            <a class="btn btn-danger" href="/Obavijesti/ObrisiObavijest?ID=@po.ID">Obrisi</a>
                        </td>
                        <td>
                            <a class="btn btn-warning" href="/Obavijesti/UrediObavijest?ID=@po.ID">Uredi</a>
                        </td>*@
                </tr>

            }
        </table>
    </form>
    <br />
    <a class="btn btn-secondary" href="/Home">Vrati nazad</a>
}
else if (_context.vozac.Where(x => x.loginID == login.ID).FirstOrDefault() != null)
{
    <form class="table">
        <table>
            <tr>
                <td>Naslov</td>
                <td>Sadrzaj</td>
                <td>Datum objave</td>
                <td>Objavu napisao</td>
                @*<td>Obrisi obavijest</td>
                <td>Uredi obavijest</td>*@
            </tr>
            @foreach (PrikaziObavijestiVM po in obavijesti)
            {

                <tr>
                    <td>@po.naslov</td>
                    <td>@po.sadrzaj</td>
                    <td>@po.datumObjave</td>
                    <td>@po.uprava</td>
                    @*<td>
                        <a class="btn btn-danger" href="/Obavijesti/ObrisiObavijest?ID=@po.ID">Obrisi</a>
                    </td>
                    <td>
                        <a class="btn btn-warning" href="/Obavijesti/UrediObavijest?ID=@po.ID">Uredi</a>
                    </td>*@
                </tr>


                <tr>
                    <td>@po.naslov</td>
                    <td>@po.sadrzaj</td>
                    <td>@po.datumObjave</td>
                    <td>@po.uprava</td>
                    @*<td>
                        <a class="btn btn-danger" href="/Obavijesti/ObrisiObavijest?ID=@po.ID">Obrisi</a>
                    </td>
                    <td>
                        <a class="btn btn-warning" href="/Obavijesti/UrediObavijest?ID=@po.ID">Uredi</a>
                    </td>*@
                </tr>
            }
        </table>
    </form>
    <br />
    <a class="btn btn-secondary" href="/Home">Vrati nazad</a>
}
else
{
    <form class="table">
        <table>
            <tr>
                <td>Naslov</td>
                <td>Sadrzaj</td>
                <td>Datum objave</td>
                <td>Objavu napisao</td>
                <td>Obrisi obavijest</td>
                <td>Uredi obavijest</td>
            </tr>
            @foreach (PrikaziObavijestiVM po in obavijesti)
            {

                <tr>
                    <td>@po.naslov</td>
                    <td>@po.sadrzaj</td>
                    <td>@po.datumObjave</td>
                    <td>@po.uprava</td>
                    <td>
                        <a class="btn btn-danger" href="/Obavijesti/ObrisiObavijest?ID=@po.ID">Obrisi</a>
                    </td>
                    <td>
                        <a class="btn btn-warning" href="/Obavijesti/UrediObavijest?ID=@po.ID">Uredi</a>
                    </td>
                </tr>


                <tr>
                    <td>@po.naslov</td>
                    <td>@po.sadrzaj</td>
                    <td>@po.datumObjave</td>
                    <td>@po.uprava</td>
                    <td>
                        <a class="btn btn-danger" href="/Obavijesti/ObrisiObavijest?ID=@po.ID">Obrisi</a>
                    </td>
                    <td>
                        <a class="btn btn-warning" href="/Obavijesti/UrediObavijest?ID=@po.ID">Uredi</a>
                    </td>
                </tr>
            }
        </table>
    </form>
    <br />
    <a class="btn btn-secondary" href="/Obavijesti">Vrati nazad</a>
}



