@using Autoprevoznicko_preduzece_HTS.Model;
@using WebAutoprevozncniko.ViewModels;
@{
    List<ComboBox> uprava = (List<ComboBox>)ViewData["uprava"];
    Obavijesti o = (Obavijesti)ViewData["Obavijesti"];
}
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Uredi </h2>
            <ol>
                <li><a href="/Obavijesti">Vrati nazad</a></li>
                <li>Uredi</li>
            </ol>
        </div>
    </div>
</section>
<form action="/Obavijesti/SpasiUredjivanje">
    <input name="ID" style="display:none" value="@o.ID" />
    <div class="form-group">
        <label>Naslov</label>
        <input class="form-control" name="naslov" value="@o.naslov" />
    </div>
    <div class="form-group">
        <label>Sadrzaj</label>
        <input class="form-control" name="sadrzaj" value="@o.sadrzaj" />
    </div>
    <div class="form-group">
        <label>Datum objave</label>
        <input class="form-control" type="datetime" name="datum" value="@o.datumObjave" />
    </div>
    <select class="form-group" name="autorID">
        <option>Odaberite autora</option>
        @foreach (ComboBox c in uprava)
        {
            if (c.ID == o.upravaID)
            {
                <option selected value="@c.ID">@c.naziv</option>
            }
            <option value="@c.ID">@c.naziv</option>
        }
    </select>
    <div>
        <input type="submit" value="Snimi" />
    </div>
</form>
<a href="/Obavijesti">Vrati nazad</a>


