@using Autoprevoznicko_preduzece_HTS.Model;
@{
    ViewData["Title"] = "UrediAutobus";
    Autobus a = (Autobus)ViewData["Autobus"];
}

<section class="breadcrumb">
    <div class="container">
        <div class="d-flex justify-content-between align-content-center">
            <h2>Uredi</h2>
            <ol>
                <li><a href="/Autobus">Vrati nazad</a></li>
                <li>Uredi</li>
            </ol>
        </div>
    </div>
</section>
<form action="/Autobus/SpasiUredjivanje">
    <input name="ID" style="display:none" value="@a.ID" />
    <div class="form-group">
        <label>Redni broj autobusa</label>
        <input class="form-control" name="RedniBrojAutobusa" value="@a.RedniBrojAutobusa" />
    </div>
    <div class="form-group">
        <label>Broj sjedista</label>
        <input class="form-control" name="BrojSjedista" value="@a.BrojSjedila" />
    </div>
    <div class="form-group">
        <label>Godiste autobusa</label>
        <input class="form-control" name="GodisteAutobusa" value="@a.GodisteAutobusa" />
    </div>
    <div class="form-group">
        <label>Info</label>
        <input class="form-control" name="Info" value="@a.informacije" />
    </div>
    <input type="submit" value="Snimi" />
    
</form>
<a href="/Autobus">Vrati nazad</a>


